.version.index /* version checker */
{
	color: #000005;
	background-color: #260F95;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	z-index: 1;
	border-color: transparent;
	margin-left: auto;
	border-width: 0px;
	background-color: transparent;
	background-image: none;
	margin-right: auto;
}

#pu618
{
	width: 0.01px;
	margin-top: 20px;
	margin-right: -10000px;
}

#u618_align_to_page
{
	position: relative;
	padding-bottom: 13px;
	margin-left: auto;
	margin-right: auto;
}

#u597
{
	z-index: 28;
	position: relative;
}

#menuu481
{
	z-index: 3;
	margin-top: 9px;
	position: relative;
}

#u482,#u489,#u541,#u569
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u483,#u490,#u542,#u570
{
	position: relative;
	padding-bottom: 12px;
}

#u483:hover,#u483:active,#u483.MuseMenuActive,#u490:hover,#u490:active,#u490.MuseMenuActive,#u542:hover,#u542:active,#u542.MuseMenuActive,#u570:hover,#u570:active,#u570.MuseMenuActive
{
	margin-bottom: 0px;
	margin-top: 0px;
	min-height: 0px;
	margin-right: 0px;
}

#u485-4,#u493-4,#u543-4,#u573-4
{
	top: 6px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#u483:hover #u485-4,#u483:active #u485-4,#u483.MuseMenuActive #u485-4,#u490:hover #u493-4,#u490:active #u493-4,#u490.MuseMenuActive #u493-4,#u542:hover #u543-4,#u542:active #u543-4,#u542.MuseMenuActive #u543-4,#u570:hover #u573-4,#u570:active #u573-4,#u570.MuseMenuActive #u573-4
{
	margin-right: -10000px;
	min-height: 22px;
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#u618,#u618-bw
{
	z-index: 2;
}

#u1246
{
	z-index: 38;
	position: relative;
	width: 920px;
	-pie-background: rgba(223,223,223,0.85);
}

#u1249-7
{
	z-index: 39;
	text-align: center;
	position: relative;
	color: #006837;
	width: 767px;
	min-height: 306px;
	background-color: transparent;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	margin-right: -10000px;
}

#u1249-2
{
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
}

#u1249-3
{
	font-size: 30px;
	line-height: 36px;
}

#u1249-5
{
	font-size: 24px;
	line-height: 29px;
}

#slideshowu3711
{
	z-index: 46;
	height: 55px;
	width: 0.01px;
	position: relative;
}

#u3722
{
	top: 57px;
	left: -22px;
	border-width: 0px;
	border-color: transparent;
	width: 798px;
	position: absolute;
	height: 427px;
	-pie-background: rgba(0,0,0,0.9);
}

#u3722popup
{
	z-index: 47;
}

#u3725
{
	top: 22px;
	z-index: 48;
	position: relative;
	height: 365px;
	left: 22px;
	width: 754px;
	background-color: transparent;
	margin-right: -10000px;
}

#u3725_img
{
	padding-right: 72px;
	padding-left: 73px;
}

#u3859
{
	top: 22px;
	z-index: 50;
	position: relative;
	height: 365px;
	left: 22px;
	width: 754px;
	background-color: transparent;
	margin-right: -10000px;
}

#u3859_img
{
	padding: 92px 38px 91px 39px;
}

#u3899
{
	top: 22px;
	z-index: 52;
	position: relative;
	height: 365px;
	left: 22px;
	width: 754px;
	background-color: transparent;
	margin-right: -10000px;
}

#u3939
{
	top: 22px;
	z-index: 54;
	position: relative;
	height: 365px;
	left: 22px;
	width: 754px;
	background-color: transparent;
	margin-right: -10000px;
}

#u3939_img
{
	margin-bottom: -20px;
	margin-top: -19px;
}

#u3713
{
	border-width: 0px;
	background-color: transparent;
	border-color: transparent;
	width: 754px;
	position: absolute;
	padding-bottom: 10px;
}

#u3713popup
{
	z-index: 56;
}

#u3716
{
	z-index: 57;
	border-width: 0px;
	position: relative;
	border-color: transparent;
	margin-right: -10000px;
	left: 242px;
	width: 60px;
	background-color: transparent;
	height: 45px;
}

#u3716_img
{
	padding-right: 6px;
	padding-left: 7px;
}

#u3869
{
	z-index: 59;
	border-width: 0px;
	position: relative;
	border-color: transparent;
	margin-right: -10000px;
	width: 60px;
	background-color: transparent;
	height: 45px;
}

#u3869_img
{
	padding-bottom: 15px;
	padding-top: 14px;
}

#u3909
{
	z-index: 61;
	border-width: 0px;
	position: relative;
	border-color: transparent;
	margin-right: -10000px;
	width: 60px;
	background-color: transparent;
	height: 45px;
}

#u3949
{
	z-index: 63;
	border-width: 0px;
	position: relative;
	border-color: transparent;
	margin-right: -10000px;
	width: 60px;
	background-color: transparent;
	height: 45px;
}

#u3716:hover,#u3869:hover,#u3909:hover,#u3949:hover
{
	min-height: 0px;
	height: 45px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3949_img
{
	padding-bottom: 7px;
	padding-top: 6px;
}

#u3735-4
{
	top: 455px;
	left: 350px;
	line-height: 20px;
	color: #FFFFFF;
	background-color: transparent;
	text-align: center;
	width: 30px;
	min-height: 30px;
	position: absolute;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u3735-4popup
{
	z-index: 65;
}

#u3712-4
{
	top: 455px;
	left: 450px;
	line-height: 20px;
	color: #FFFFFF;
	background-color: transparent;
	text-align: center;
	width: 30px;
	min-height: 30px;
	position: absolute;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u3712-4popup
{
	z-index: 69;
}

#u3736-4
{
	top: 455px;
	left: 380px;
	line-height: 20px;
	color: #FFFFFF;
	background-color: transparent;
	text-align: center;
	width: 70px;
	min-height: 30px;
	position: absolute;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u3736-4popup
{
	z-index: 73;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2668
{
	z-index: 36;
	margin-top: 15px;
	position: relative;
	margin-right: -10000px;
}

#u1009-4
{
	z-index: 32;
	margin-top: 76px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#pu995
{
	width: 0.01px;
	margin-top: 15px;
	padding-bottom: 0px;
	margin-left: 730px;
	margin-right: -10000px;
}

#u995
{
	z-index: 30;
	width: 123px;
	min-height: 26px;
	position: relative;
	margin-left: 87px;
}

#u996
{
	z-index: 31;
	width: 210px;
	min-height: 24px;
	margin-top: 15px;
	position: relative;
}

.html
{
	background: #009245 url("../images/blurred-background-green.jpg") no-repeat center center scroll;
	background-size: cover;
}

body
{
	position: relative;
}

.verticalspacer
{
	min-height: 485px;
}

@media (min-width: 961px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1377px;
		padding-bottom: 14px;
		width: 100%;
	}

	#pu618
	{
		padding-bottom: 0px;
	}

	#u597
	{
		width: 70.52%;
		left: 16.56%;
	}

	#menuu481
	{
		width: 92.85%;
		left: 3.63%;
	}

	#u482
	{
		width: 24.8%;
	}

	#u618_align_to_page,#u483
	{
		width: 100%;
	}

	#u483:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u483:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u485-4
	{
		width: 100%;
	}

	#u483.MuseMenuActive,#u483:hover #u485-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u483:active #u485-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u489
	{
		width: 24.8%;
		left: 24.98%;
	}

	#u490
	{
		width: 100%;
	}

	#u483.MuseMenuActive #u485-4,#u490:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u490:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u493-4
	{
		width: 100%;
	}

	#u490.MuseMenuActive,#u490:hover #u493-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u490:active #u493-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u541
	{
		width: 24.89%;
		left: 49.96%;
	}

	#u542
	{
		width: 100%;
	}

	#u490.MuseMenuActive #u493-4,#u542:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u542:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u543-4
	{
		width: 100%;
	}

	#u542.MuseMenuActive,#u542:hover #u543-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u542:active #u543-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u569
	{
		width: 24.89%;
		left: 75.03%;
	}

	#u570
	{
		width: 100%;
	}

	#u542.MuseMenuActive #u543-4,#u570:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u570:active
	{
		width: 100%;
		margin-left: 0%;
	}

	#u573-4
	{
		width: 100%;
	}

	#u570.MuseMenuActive,#u570:hover #u573-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u570:active #u573-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u570.MuseMenuActive #u573-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#u618,#u618-bw
	{
		min-height: 276px;
	}

	#u1246
	{
		background-color: #E3E3E3;
		background-color: rgba(223,223,223,0.85);
		padding-bottom: 18px;
		margin-left: 120px;
		margin-top: 24px;
	}

	#u1249-7
	{
		margin-top: 19px;
		left: 77px;
	}

	#slideshowu3711
	{
		margin-right: -10000px;
		margin-top: 738px;
		left: 18.02%;
	}

	#u3722
	{
		background-color: #191919;
		background-color: rgba(0,0,0,0.9);
	}

	#u3869
	{
		left: 312px;
	}

	#u3909
	{
		left: 382px;
	}

	#u3949
	{
		left: 452px;
	}

	#u2668
	{
		width: 10.18%;
		left: 3.63%;
	}

	#u1009-4
	{
		width: 15.61%;
		left: 42.16%;
	}

	#u597_img,#u2668_img
	{
		width: 100%;
	}
}

@media (max-width: 960px)
{
	#muse_css_mq
	{
		background-color: #0003c0;
	}

	#bp_960.active
	{
		display: block;
	}

	#page
	{
		width: 960px;
		min-height: 1371px;
		padding-bottom: 20px;
	}

	#u618
	{
		min-height: 237.93033310219062px;
		padding-bottom: 0px;
	}

	#u618_align_to_page
	{
		width: 960px;
	}

	#u597
	{
		width: 677px;
		left: 159px;
	}

	#menuu481
	{
		width: 891px;
		left: 35px;
	}

	#u482,#u483
	{
		width: 221px;
	}

	#u483:hover
	{
		margin-left: 0px;
		width: 221px;
	}

	#u483:active
	{
		margin-left: 0px;
		width: 221px;
	}

	#u485-4
	{
		width: 221px;
	}

	#u483.MuseMenuActive,#u483:hover #u485-4
	{
		margin-left: 0px;
		width: 221px;
	}

	#u483:active #u485-4
	{
		margin-left: 0px;
		width: 221px;
	}

	#u489
	{
		width: 221px;
		left: 223px;
	}

	#u490
	{
		width: 221px;
	}

	#u483.MuseMenuActive #u485-4,#u490:hover
	{
		margin-left: 0px;
		width: 221px;
	}

	#u490:active
	{
		margin-left: 0px;
		width: 221px;
	}

	#u493-4
	{
		width: 221px;
	}

	#u490.MuseMenuActive,#u490:hover #u493-4
	{
		margin-left: 0px;
		width: 221px;
	}

	#u490:active #u493-4
	{
		margin-left: 0px;
		width: 221px;
	}

	#u541
	{
		width: 221px;
		left: 446px;
	}

	#u542
	{
		width: 221px;
	}

	#u490.MuseMenuActive #u493-4,#u542:hover
	{
		margin-left: 0px;
		width: 221px;
	}

	#u542:active
	{
		margin-left: 0px;
		width: 221px;
	}

	#u543-4
	{
		width: 221px;
	}

	#u542.MuseMenuActive,#u542:hover #u543-4
	{
		margin-left: 0px;
		width: 221px;
	}

	#u542:active #u543-4
	{
		margin-left: 0px;
		width: 221px;
	}

	#u542.MuseMenuActive #u543-4
	{
		margin-left: 0px;
		width: 221px;
	}

	#u569
	{
		width: 222px;
		left: 669px;
	}

	#u570
	{
		width: 222px;
	}

	#u570:hover
	{
		margin-left: 0px;
		width: 222px;
	}

	#u570:active
	{
		margin-left: 0px;
		width: 222px;
	}

	#u573-4
	{
		width: 222px;
	}

	#u570.MuseMenuActive,#u570:hover #u573-4
	{
		margin-left: 0px;
		width: 222px;
	}

	#u570:active #u573-4
	{
		margin-left: 0px;
		width: 222px;
	}

	#u570.MuseMenuActive #u573-4
	{
		margin-left: 0px;
		width: 222px;
	}

	#u618-bw
	{
		min-height: 237.93033310219062px;
	}

	#u1246
	{
		background-color: #E3E3E3;
		background-color: rgba(223,223,223,0.85);
		padding-bottom: 17px;
		margin-left: 20px;
		margin-top: 53px;
	}

	#u1249-7
	{
		margin-top: 20px;
		left: 76px;
	}

	#slideshowu3711
	{
		margin-left: 173px;
		margin-top: 64px;
	}

	#u3722
	{
		background-color: #191919;
		background-color: rgba(0,0,0,0.9);
	}

	#u3869
	{
		left: 175px;
	}

	#u3909
	{
		left: 245px;
	}

	#u3949
	{
		left: 315px;
	}

	#u2668
	{
		width: 98px;
		left: 35px;
	}

	#u1009-4
	{
		width: 150px;
		left: 405px;
	}

	body
	{
		min-width: 960px;
	}
}

