.version.index /* version checker */
{
	color: #0000F9;
	background-color: #1E8307;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1371px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

#pu618
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: -100px;
}

#u618
{
	z-index: 2;
	min-height: 237.93033310219062px;
	padding-bottom: 0px;
}

#u618_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-bottom: 13px;
}

#u597
{
	z-index: 28;
	width: 677px;
	left: 259px;
	position: relative;
}

#menuu481
{
	z-index: 3;
	width: 891px;
	left: 135px;
	margin-top: 9px;
	position: relative;
}

#u482
{
	width: 221px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u483
{
	width: 221px;
	padding-bottom: 12px;
	position: relative;
}

#u483:hover
{
	width: 221px;
	min-height: 0px;
	margin: 0px;
}

#u483:active
{
	width: 221px;
	min-height: 0px;
	margin: 0px;
}

#u485-4
{
	width: 221px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u483:hover #u485-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 221px;
	margin: 0px -10000px 0px 0px;
}

#u483:active #u485-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 221px;
	margin: 0px -10000px 0px 0px;
}

#u489
{
	width: 221px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 223px;
}

#u490
{
	width: 221px;
	padding-bottom: 12px;
	position: relative;
}

#u483.MuseMenuActive,#u490:hover
{
	width: 221px;
	min-height: 0px;
	margin: 0px;
}

#u490:active
{
	width: 221px;
	min-height: 0px;
	margin: 0px;
}

#u493-4
{
	width: 221px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u483.MuseMenuActive #u485-4,#u490:hover #u493-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 221px;
	margin: 0px -10000px 0px 0px;
}

#u490:active #u493-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 221px;
	margin: 0px -10000px 0px 0px;
}

#u541
{
	width: 221px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 446px;
}

#u542
{
	width: 221px;
	padding-bottom: 12px;
	position: relative;
}

#u490.MuseMenuActive,#u542:hover
{
	width: 221px;
	min-height: 0px;
	margin: 0px;
}

#u542:active
{
	width: 221px;
	min-height: 0px;
	margin: 0px;
}

#u542.MuseMenuActive
{
	width: 221px;
	min-height: 0px;
	margin: 0px;
}

#u543-4
{
	width: 221px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u490.MuseMenuActive #u493-4,#u542:hover #u543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 221px;
	margin: 0px -10000px 0px 0px;
}

#u542:active #u543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 221px;
	margin: 0px -10000px 0px 0px;
}

#u542.MuseMenuActive #u543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 221px;
	margin: 0px -10000px 0px 0px;
}

#u569
{
	width: 222px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 669px;
}

#u570
{
	width: 222px;
	padding-bottom: 12px;
	position: relative;
}

#u570:hover
{
	width: 222px;
	min-height: 0px;
	margin: 0px;
}

#u570:active
{
	width: 222px;
	min-height: 0px;
	margin: 0px;
}

#u570.MuseMenuActive
{
	width: 222px;
	min-height: 0px;
	margin: 0px;
}

#u573-4
{
	width: 222px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u570:hover #u573-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u570:active #u573-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u570.MuseMenuActive #u573-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u618-bw
{
	z-index: 2;
	min-height: 237.93033310219062px;
}

#slideshowu817
{
	z-index: 38;
	width: 0.01px;
	height: 627px;
	margin-left: 120px;
	margin-top: 12px;
	position: relative;
}

#u828
{
	position: absolute;
	width: 919px;
	height: 587px;
	background-color: transparent;
	left: 1px;
}

#u828popup
{
	z-index: 39;
}

#u829
{
	z-index: 40;
	width: 919px;
	height: 587px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u829_img
{
	padding-left: 70px;
	padding-top: 6px;
	padding-right: 74px;
}

#u1053
{
	z-index: 42;
	width: 919px;
	height: 587px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1053_img
{
	padding: 181px 338px 181px 337px;
}

#u1073
{
	z-index: 44;
	width: 919px;
	height: 587px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1073_img
{
	margin-top: -58px;
	margin-bottom: -59px;
}

#u1093
{
	z-index: 46;
	width: 919px;
	height: 587px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1093_img
{
	margin-left: -88px;
	margin-right: -89px;
}

#u1113
{
	z-index: 48;
	width: 919px;
	height: 587px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1113_img
{
	margin-top: -48px;
	margin-bottom: -48px;
}

#u1183
{
	z-index: 50;
	width: 919px;
	height: 587px;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u1183_img
{
	padding: 230px 369px 229px 370px;
}

#u838
{
	position: absolute;
	width: 349px;
	background-color: transparent;
	top: 588px;
}

#u838popup
{
	z-index: 52;
}

#u841-4
{
	z-index: 53;
	width: 329px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1065-4
{
	z-index: 57;
	width: 329px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1085-4
{
	z-index: 61;
	width: 329px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1105-4
{
	z-index: 65;
	width: 329px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1125-4
{
	z-index: 69;
	width: 329px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1195-4
{
	z-index: 73;
	width: 329px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u842-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 587px;
	left: 822px;
}

#u842-4popup
{
	z-index: 77;
}

#u835-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 587px;
	left: 792px;
}

#u835-4popup
{
	z-index: 81;
}

#u842,#u835
{
	color: #999999;
}

#u819-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 587px;
	left: 890px;
}

#u819-4popup
{
	z-index: 85;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1246
{
	z-index: 89;
	width: 920px;
	background-color: #E3E3E3;
	background-color: rgba(223,223,223,0.85);
	padding-bottom: 19px;
	margin-left: 120px;
	margin-top: 27px;
	position: relative;
	-pie-background: rgba(223,223,223,0.85);
}

#u1249-7
{
	z-index: 90;
	width: 767px;
	min-height: 306px;
	background-color: transparent;
	text-align: center;
	color: #006837;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 76px;
}

#u1249-2
{
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
}

#u1249-3
{
	font-size: 30px;
	line-height: 36px;
}

#u1249-5
{
	font-size: 24px;
	line-height: 29px;
}

#u2668
{
	z-index: 36;
	width: 98px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 35px;
}

#u1009-4
{
	z-index: 32;
	width: 150px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: 405px;
}

#pu995
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 730px;
}

#u995
{
	z-index: 30;
	width: 123px;
	min-height: 26px;
	margin-left: 87px;
	position: relative;
}

#u996
{
	z-index: 31;
	width: 210px;
	min-height: 24px;
	margin-top: 15px;
	position: relative;
}

.html
{
	background: #009245 url("../images/bcwf5.jpg") no-repeat center center scroll;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
}

.verticalspacer
{
	min-height: 1px;
}

