.version.index /* version checker */
{
	color: #0000F1;
	background-color: #1B8F74;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 1391px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 137px;
	padding-bottom: 20px;
	width: 100%;
}

#u4303
{
	z-index: 6;
	position: relative;
	width: 80%;
	margin-left: 10%;
}

#u4529
{
	z-index: 21;
	min-height: 158px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 20px;
}

#u4535-7
{
	z-index: 23;
	min-height: 127px;
	background-color: transparent;
	color: #006837;
	text-align: center;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 58.34%;
	left: 20.73%;
}

#u4535-2
{
	font-size: 36px;
	line-height: 43px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u4529-bw
{
	z-index: 21;
	min-height: 158px;
	margin-top: 319px;
}

#u4526
{
	z-index: 8;
	min-height: 207px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u4529_align_to_page,#u4526_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 100%;
}

#u4523-12
{
	z-index: 9;
	min-height: 127px;
	background-color: transparent;
	color: #006837;
	text-align: center;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	width: 58.34%;
	left: 20.73%;
}

#u4523-2,#u4523-3,#u4523-8
{
	font-size: 30px;
	line-height: 36px;
}

#u4535-3,#u4535-5,#u4523-9
{
	font-size: 24px;
	line-height: 29px;
}

#u4523-10
{
	font-size: 18px;
	line-height: 22px;
}

#u4538
{
	z-index: 30;
	width: 116px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 43.86%;
}

#u4526-bw
{
	z-index: 8;
	min-height: 207px;
	margin-top: 255px;
}

#u4532
{
	z-index: 22;
	height: 31px;
	margin-top: 107px;
	position: relative;
	width: 100%;
}

.ie #u4532
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1009-4
{
	z-index: 2;
	min-height: 17px;
	margin-top: 76px;
	position: relative;
	width: 15.63%;
	margin-left: 42.19%;
}

.html
{
	background: #00000B url("../images/photo-1474183725112-79b6800d89a0.jpg") no-repeat center center scroll;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 320px;
	padding-bottom: 25px;
}

#u4303_img
{
	width: 100%;
}

