	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#pu618
	{
		margin-left: -100px;
	}

	#u618_align_to_page
	{
		left: -100px;
	}

	#u597
	{
		left: 259px;
	}

	#menuu481
	{
		left: 135px;
	}

	#u1246
	{
		background-color: #E3E3E3;
		background-color: rgba(223,223,223,0.85);
		padding-bottom: 19px;
		margin-left: 118px;
		margin-top: 62px;
	}

	#u1249-7
	{
		margin-top: 18px;
		left: 77px;
	}

	#slideshowu3711
	{
		margin-left: 186px;
		margin-top: 55px;
	}

	#u3725_img
	{
		padding-left: 116px;
		padding-right: 51px;
	}

	#u3859_img
	{
		padding-left: 50px;
		padding-right: 49px;
	}

	#u3899_img
	{
		padding-left: 11px;
		padding-right: 11px;
	}

	#u3722,#u3725,#u3859,#u3899,#u3939
	{
		width: 776px;
	}

	#u3939_img
	{
		margin-left: 11px;
		margin-right: 11px;
	}


