.version.why_wind /* version checker */
{
	color: #0000F9;
	background-color: #FE4D61;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 715px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u618
{
	z-index: 2;
	min-height: 237.93033310219064px;
	padding-bottom: 0px;
}

#u618_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-bottom: 13px;
}

#u597
{
	z-index: 28;
	position: relative;
	width: 70.53%;
	left: 16.57%;
}

#menuu481
{
	z-index: 3;
	margin-top: 9px;
	position: relative;
	width: 92.82%;
	left: 3.65%;
}

#u482
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 24.81%;
}

#u483
{
	padding-bottom: 12px;
	position: relative;
	width: 100%;
}

#u483:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u483:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u485-4
{
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	width: 100%;
}

#u483:hover #u485-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u483:active #u485-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u489
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 24.81%;
	left: 25.03%;
}

#u490
{
	padding-bottom: 12px;
	position: relative;
	width: 100%;
}

#u483.MuseMenuActive,#u490:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u490:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u493-4
{
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	width: 100%;
}

#u483.MuseMenuActive #u485-4,#u490:hover #u493-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u490:active #u493-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u541
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 24.81%;
	left: 50.06%;
}

#u542
{
	padding-bottom: 12px;
	position: relative;
	width: 100%;
}

#u490.MuseMenuActive,#u542:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u542:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u543-4
{
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	width: 100%;
}

#u490.MuseMenuActive #u493-4,#u542:hover #u543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u542:active #u543-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u569
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 24.92%;
	left: 75.09%;
}

#u570
{
	padding-bottom: 12px;
	position: relative;
	width: 100%;
}

#u542.MuseMenuActive,#u570:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u570:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u570.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u573-4
{
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	width: 100%;
}

#u542.MuseMenuActive #u543-4,#u570:hover #u573-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u570:active #u573-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u570.MuseMenuActive #u573-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u618-bw
{
	z-index: 2;
	min-height: 237.93033310219064px;
}

#accordionu1608
{
	z-index: 36;
	-pie-box-shadow: none;
	box-shadow: 5px 5px 7px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-top: 41px;
	position: relative;
	width: 95.84%;
	margin-left: 1.98%;
}

#u1617
{
	z-index: 37;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u1618-4
{
	z-index: 38;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}

#u1618-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1618-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1619
{
	z-index: 42;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 21px;
	position: relative;
	width: 100%;
}

#u1620-4
{
	z-index: 43;
	min-height: 151px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #999999;
	font-size: 16px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	width: 54.24%;
	left: 1.74%;
}

#u1805
{
	z-index: 47;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	width: 38.27%;
	left: 59.35%;
}

#u1613
{
	z-index: 49;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u1616-4
{
	z-index: 50;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}

#u1616-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1616-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1614
{
	z-index: 54;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 16px;
	position: relative;
	width: 100%;
}

#u1615-4
{
	z-index: 55;
	min-height: 105px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #999999;
	font-size: 16px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	width: 57.07%;
	left: 1.85%;
}

#u1773
{
	z-index: 59;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	width: 33.05%;
	left: 62.94%;
}

#u1609
{
	z-index: 61;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u1612-4
{
	z-index: 62;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}

#u1612-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1612-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1618-4.AccordionPanelTabOpen,#u1616-4.AccordionPanelTabOpen,#u1612-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1618-4.AccordionPanelTabOpen p,#u1616-4.AccordionPanelTabOpen p,#u1612-4.AccordionPanelTabOpen p
{
	color: #006837;
	visibility: inherit;
	font-size: 24px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
}

#u1618-3,#u1616-3,#u1612-3
{
	line-height: 24px;
	color: #006837;
	font-size: 24px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	margin-left: 10px;
}

#u1610
{
	z-index: 66;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 31px;
	position: relative;
	width: 100%;
}

#u1611-4
{
	z-index: 67;
	min-height: 196px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #999999;
	font-size: 16px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	width: 54.14%;
	left: 1.96%;
}

#u1693
{
	z-index: 71;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	width: 39.46%;
	left: 58.05%;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u995
{
	z-index: 30;
	width: 123px;
	min-height: 26px;
	margin-left: 817px;
	margin-top: 218px;
	position: relative;
}

#u996
{
	z-index: 31;
	width: 210px;
	min-height: 24px;
	margin-left: 730px;
	margin-top: 15px;
	position: relative;
}

#u1009-4
{
	z-index: 32;
	min-height: 17px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
	width: 15.63%;
	margin-left: 42.19%;
}

.html
{
	background: #FFFFFF url("../images/bcwf5.jpg") no-repeat left top scroll;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 320px;
}

#u1805_img,#u1773_img,#u1693_img,#u597_img
{
	width: 100%;
}

